# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo
.expo/
.expo-shared/
web-build/
dist/

# React Native
*.log
*.lock
*.tmp
*.swp
*.swo
*.DS_Store

# Metro
.metro/
.packager/
.haul/

# TypeScript
*.tsbuildinfo

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.settings/
android/.classpath
android/.project
android/.externalNativeBuild/
android/.cxx/

# Ignore keystore files (security)
android/app/debug.keystore
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcuserdata/
ios/*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/**/*.xcuserstate
ios/**/*.xcuserdatad
ios/Podfile.lock

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDEs
.vscode/
.idea/
*.iml

# Env files
.env
.env.local
.env.*.local

# Misc
coverage/
tmp/
